/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





/*---------------------------------------------------------------------------------*/
/*-------------------------------------- Reset ------------------------------------*/
/*---------------------------------------------------------------------------------*/
ul{
    list-style: none;
    padding: 0;
    margin: 0
}






/*---------------------------------------------------------------------------------*/
/*----------------------------------- Typography ----------------------------------*/
/*---------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,700italic,400,700,300,600|Montserrat:400,700);

.montserrat{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
.openSans{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

h1{
    color: #fff;
    font-size: 83px;
    font-weight: 700;
    letter-spacing: 0.2em;
}
h1, h2, h3{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
h2{
    font-size: 46px;
    font-weight: 700;
}
h3{
    font-size: 30px;
}
h1, h2, h3, h4, a, .upper{
    text-transform: uppercase;
}
h2, h3{
    letter-spacing: 0.05em;
}
h2, h3, h4, a, a:hover, .darkest{
    color: #505050;
}
h4{
    font-weight: 700;
    font-size: 24px;
    border-bottom: 1px #97928f solid;
    padding: 10px 0;
}
h4, p{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p, a{
    font-size: 14px;
}
p{
    color: #656565;
    text-align: justify;
}
.sm-text{
    font-size: 12px;
}
.light{
    font-weight: 300;
}
.bold{
    font-weight: 700;
}
.semi-bold{
    font-weight: 600;
}
.italic{
    font-style: italic;
}
.h1-style-1, .h1-style-2{
    font-weight: 400;
}
.h1-style-1{
    font-size: 54px;
}
.h1-style-2{
    font-size: 73px;
}
.center-text{
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


/* Media queries */
@media (max-width: 640px){
    h1{
        font-size: 53px;
    }
    .h1-style-1{
        font-size: 28px;
    }
    .h1-style-2{
        font-size: 43px;
    }
}




/*---------------------------------------------------------------------------------*/
/*------------------------------------ Content ------------------------------------*/
/*---------------------------------------------------------------------------------*/

/*---------------- General rules ----------------*/

/* Animate transitions */
.animate{
    -webkit-transition: all 0.8s ease-out; 
    -moz-transition: all 0.8s ease-out; 
    -o-transition: all 0.8s ease-out; 
    transition: all 0.8s ease-out; 

}

/* opacity */
.faded{
    opacity: 0;
}
.show{
    opacity: 1 !important;
}

/* Hide x-axis scrolling */
.hide-x{
    overflow-x: hidden;
}

/* For vertically align any content */
.vertical-align-wrapper{
    display: table;
    width: 100%;
}
.vertical-align-element{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* Dividers */
.h1-divider{
    width: 120px;
    height: 4px;
    background-color: #fff;
    margin: 14px auto;
}
.h2-divider, .h3-divider{
    background-color: #ff4800;
    margin: 0 auto;
    height: 3px;
}
.h2-divider{
    width: 58px;
    position: relative;
    top: -2px;
}
.h3-divider{
    width: 38px;
}

/* common section rules */
section{
    padding-bottom: 94px;
    border-bottom: 2px #f6f5f4 solid;
    position: absolute;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 2px #B3B2B1;
    box-shadow: 0 0 0 2px #B3B2B1;
}
.no-pad{
    padding: 0;
}

/* Columns modifications */
.col-md-4{
    padding: 15px 40px;
}
.col-md-6{
    padding: 15px 25px;
}
.row{
    padding: 56px 0;
}
.container{
    max-width: 960px;
}



/* Full width bars */
.full-width-bar{
    position: relative;
}
.full-width-bar:before, .full-width-bar:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;   
} 
.full-width-bar:before {
  right: 100%; 
}
.full-width-bar:after {
  left: 100%;
}

/* Adjust height to context in landscape */
.landscape-height{
    height: auto;
}

/* Parallax effect  */
.sec-lvl-style{
    position: relative;
}
.prev-active{
    z-index: 200;
}
.active-section{
    z-index: 300;
}

/* Positioning */
.right-floater{
    float: right;
}
.display-ib{
    display: inline-block;
}
.margin-center{
    margin: 0 auto;
}


/*----------------- Menu ----------------*/
header{
    position: fixed;
    z-index: 999;
    background-color: #fff;
    border-bottom: 1px #a7a7a7 solid;
    width: 100%;
}


/***************/
/* Desktop Menu */
/***************/
#desktop-menu{
    height: 96px;
}
#desktop-menu nav li{
    padding: 0 8px;
    border-top: 2px #fff solid;
    line-height: 93px;
    -webkit-transition: border-width 0.2s ease;
    -moz-transition: border-width 0.2s ease;
    -ms-transition: border-width 0.2s ease;
    -o-transition: border-width 0.2s ease;
    transition: border-width 0.2s ease;
}
#desktop-menu nav ul li.nav-selected{
    border-top: 2px #ff4800 solid;
}
#desktop-menu nav li:hover{
    background-color: #f6f6f6;
    border-top: 2px #f6f6f6 solid;
}
.logo{
    padding-left: 15px;
    line-height: 96px;
}
.logo img{
    width: 283px;
}
.lang-log{
    background-color: #f6f6f6;
    height: 100%;
    padding-right: 15px;
}
.lang-log>div{
    float: left;
}
#desktop-menu .language{
    line-height: normal;
    padding: 30px  0 0 30px;
}
#desktop-menu .language>p{
    position: relative;
    top: -12px;
    line-height: 36px;
    border-right: 1px #9c9794 solid;
    padding-right: 6px;
} 
#desktop-menu .language>*{
    display: inline-block;
}
#desktop-menu .language ul{
    padding-left: 6px;
}
#desktop-menu .language ul li{
    line-height: 12px;
    height: 12px;
    width: 70px;
}
#desktop-menu .language .lang{
    height: 8px;
    width: 32px;
    background-color: #c1c1c1;
    float: right;
}
#desktop-menu .language .lang .sub-lang{
    height: 100%;
    width: 17px;
    background-color: #e6e6e6;
    position: relative;
    
}
#desktop-menu .language .lang .sub-lang, #desktop-menu .clients>div object{
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    -ms-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
}
#desktop-menu .language ul li:hover .sub-lang{
    left: 15px;
}
#desktop-menu .lang-active a{
    font-weight: 700;
}
#desktop-menu .lang-active .lang{
    background-color: #fcff00;
}
#desktop-menu .lang-active .lang .sub-lang{
    background-color: #ff0000;
}
#desktop-menu .clients>*{
    display: inline-block;
}
#desktop-menu .clients{
    line-height: 36px;
    margin-top: 30px;
    padding-left: 30px;
    border-right: 1px #9c9794 solid;
}
#desktop-menu .clients>div{
    height: 16px;
    width: 16px;
    margin: 0 6px;
    top: 2px;
    position: relative;
}
#desktop-menu .clients>div object{
    position: absolute;
    height: 16px;
    width:16px;
}
#desktop-menu .clients:hover .clients-arrow{
    left: 2px;    
}



/***************/
/* Mobile menu */
/***************/
#mobile-menu{
    display: none;
}
#mobile-logo{
    position: absolute;
    width: 100%;
    display: none;
    height: 50px;
    background-color: #fff;

}
#mobile-logo img{
    width: 146px;
    position: relative;
    top: 16px;
    left: 20px;
}
.bt-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    border-width: 0px;
    border-style: solid;
    border-color: #fff;
    background-color: rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
    z-index: 9999;
}

.bt-menu.bt-menu-open {
    height: 100%;
    border-width: 0px 160px 50px 0;
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: border-width 0.3s, background-color 0.3s;
    transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
    position: absolute;
    width: 100%;
}

.bt-menu-open .bt-overlay {
    height: 100%;
}

.bt-menu-trigger {
    position: fixed;

    right: 20px;
    z-index: 100;
    display: block;
    width: 50px;
    height: 45px;
    cursor: pointer;
}

.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 8%;
    background-color: #505050;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #505050;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(250%);
    transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
}

.bt-menu ul {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
}

.bt-menu ul:first-of-type {
    top: 50px;
    right: -160px;
}

.bt-menu ul:nth-of-type(2) {
    left: 0;
    bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
    display: block;
}

.bt-menu ul:nth-of-type(2) li {
    float: left;
}

.bt-menu ul li {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
    transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
    transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu.bt-menu-open ul:first-of-type{
    right: 0;
}
.bt-menu ul:first-of-type li {
    width: 160px;
    height: 50px;
    line-height: 50px;
    -webkit-transform: translate3d(100%,50%,0);
    transform: translate3d(100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
    
    height: 50px;
    line-height: 50px;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bt-menu ul li a {
    display: block;
    outline: none;
    text-decoration: none;
    color: #505050;
}

.bt-menu ul:first-of-type li a {
    padding: 0 20px;
    box-shadow: inset 0 1px rgba(0,0,0,0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
    box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
}

.bt-menu ul li a:before {
    color: #fff;
    font-size: 24px;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.bt-menu ul li a:hover,
.bt-menu ul li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
    color: #ff4800;
}










/*---------------- Intro ----------------*/
.intro{
    background-image: url(../img/apholos-poster.jpg);
    background-position: center top;
    /*background-attachment: fixed;*/
    /*max-height: 932px;*/
    background-size: cover;
}
.intro img{
    margin-top: 14px;
    width: 48px;
}


/*---------------- About ----------------*/
.banner{
    background-color: #e6e6e6;
}
.banner>div{
    padding: 0;
    position: relative;
}




/*--------------- History ---------------*/
#history-flow{

}


/*--------------- Products --------------*/
#products .container{
    padding: 0
}
#products p{
    margin: 0;
}
#products .container>p{
    margin: 32px 0 5px 0;
}
#filterin li{
    cursor: pointer;
}
#filterin li.active span{
    font-weight: 400;
}
#grid{
    text-align: left;
    margin-top: 130px;
    margin-bottom: 110px;
}
#grid li{
    width: 240px;
    height: 290px;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
#grid li p{
    text-align: center;
    line-height: 50px
}
#grid li a:hover p{
    color: #ff4800;
}
#grid .mix{
    opacity: 0;
    display: none;
}
.load-more{
    color: #7d7773;
    padding: 15px 12px;
    border: 1px #7d7d7d solid;
}



/*-------------- Technology -------------*/
#technology{
    background-image: url(../img/prods-back.jpg);
}
#technology .container>p{
    margin-top: 20px;
}
.tech-gallery{
    background-color: #fff;
    border-bottom: 1px #efefef solid;
    margin-top: 55px;
}
#tech-gallery-container, #tech-gallery-container li{
    height: 506px;
    width: 100%;
}
#tech-gallery-container li{
    background-size: cover;
    background-position: center;
}
.tech-gallery-navigation{
    width: 100%;
    padding: 24px 0 20px 27px;
    overflow: auto;
    line-height: 40px;
}
#tech-gallery-controls{
    cursor: pointer;
}
#tech-gallery-thumbs li{
    padding: 0 4px;
    position: relative;
}
#tech-gallery-thumbs li img{
    position: absolute;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
    left: 0;
}
#tech-gallery-thumbs li a:hover .img-inactive{
    opacity: 0
}
.active .img-inactive{
    opacity: 0
}
#tech-gallery-thumbs li, #tech-gallery-thumbs li a{
    height: 40px;
    width: 69px;
}
#tech-gallery-thumbs li a{
    overflow: hidden;
    display: block;
}
.tech-gallery-bttns{
    float: left;
}
.tech-gallery-bttns p{
    padding-left: 5px;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    -ms-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
}
#tech-gallery-thumbs{
    float: right;
}

/* slides */
#fotocromia{
    background-image: url(../img/technology/images/fotocromia.jpg);
}
#galvanoplastia{
    background-image: url(../img/technology/images/galvanoplastia.jpg);
}
#grabado-laser{
    background-image: url(../img/technology/images/grabado-laser.jpg);
}
#limpiado-manual{
    background-image: url(../img/technology/images/limpiado-manual.jpg);
}
#pintura-a-gota{
    background-image: url(../img/technology/images/pintura-a-gota.jpg);
}
#pintura{
    background-image: url(../img/technology/images/pintura.jpg);
}



/*---------------- ideas ---------------*/
.ideas-graph{
    background-image: url(../img/proceso-diseno-lineas-iconos.svg);
    background-size: 100% 318px;
    background-repeat: no-repeat;
    min-height: 318px;
    position: relative;
}
.ideas-graph ul li{
    width: 157px;
    margin-left: -78px;
    margin-top: -78px;
    position: absolute;
    left: 0;
    top: 0;
}
.ideas-graph ul li p{
    font-size: 16px;
    margin-top: 15px;
}
.ideas-graph ul li div{
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
}
.ideas-graph ul li div object{
    width: 60%;
    height: 60%;
    margin: 20%    
}
.outer-circle{
    width: 143px;
    height: 143px;
    background-color: #fff;
    border: 1px #4b4b4b solid;
    box-sizing: content-box;
    padding: 6px;
}
.inner-circle{
    width: 100%;
    height: 100%;
    background-color: #16254a;
}
.ideas-graph ul li:hover .outer-circle{
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1); 
}
.ideas-graph ul li:hover .inner-circle{
    background-color: #ce4712;
}
.ideas-graph ul li.idea-idea{
    left: 8.21%;
    top: 24.375%;
}
.ideas-graph ul li.idea-2d{
    left: 28.42%;
    top: 53.12%;
}
.ideas-graph ul li.idea-3d{
    left: 48.73%;
    top: 24.375%;
}
.ideas-graph ul li.idea-ok{
    left: 70.31%;
    top: 53.12%;
}
.ideas-graph ul li.idea-tool{
    left: 91.36%;
    top: 24.375%;
}

/*---------------- World ---------------*/
#world{
    background-image: url(../img/en-el-mundo-back.jpg);
}
#world-map{
    margin: 0 auto;
    margin-top: 100px;
    background-image: url(../img/world-map.png);
    width: 960px;
    height: 525px;
    position: relative;
}
#wm-popup{
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    opacity: 0;
}
#wm-popup div{
    background-color: #fff;
    padding: 10px 15px;
    border: 1px #f75515 solid;
}
#wm-popup div a{
}
#world-map li{
    height: 30px;
    width: 30px;
    position: relative;
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
}
#world-map li:hover{
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform: scale(1.1);
}
.wm-marker{
    position: absolute;
}
.wm-click-handler{
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%
}

/* countries */
#wm-us{
    top: 215px;
    left: 200px;
}












/*------------ Media Queries ------------*/

/* For when menu wont fit */
@media (max-width: 1360px){
    #desktop-menu{
        padding: 0;
    }
    #desktop-menu .logo{
        padding-left: 15px;
    }
    #desktop-menu .language{
        padding-right: 15px;
    }
    #desktop-menu nav{
        height: 36px;
        border-right: none;
        border-top: 1px #dad9d9 solid;
        width: 100%;
    }
    #desktop-menu nav li{
        line-height: 32px
    }
    .lang-log{
        background-color: transparent;
    }
}

/* Mobile */
@media (max-width: 1024px){
    
    /* Menu */
    header{
        height: auto;
        background-color: transparent;
         -webkit-transform: translateZ(0); 
        transform: translateZ(0);
    }
    #desktop-menu{
        display: none;
    }
    #mobile-menu{
        display: inline;
    }
    #mobile-logo{
        -webkit-transform: translateZ(0); 
        transform: translateZ(0);
        display: inline;
    }

    /* Sections */
    section{
        position: static;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
@media (max-width: 992px){
    .ideas-graph ul li{
        width: 130px;
        margin-left: -65px;
        margin-top: -65px;
    }
    .outer-circle{
        width: 120px;
        height: 120px;
        background-color: #fff;
        border: 1px #4b4b4b solid;
        box-sizing: content-box;
        padding: 4px;
    }
    .ideas-graph ul li p{
        font-size: 14px;
    }
}
@media (max-width: 960px){
    .grid-container{
        width: 720px
    }
}
@media (max-width: 720px){
    .grid-container{
        width: 480px
    }
}
@media (max-width: 480px){
    .grid-container{
        width: 240px
    }
}
@media (max-width: 690px){
    .ideas-graph{
        background-image: url(../img/proceso-diseno-lineas-mobile.svg);
        min-height: 700px;
        background-size: 100% 650px
    }
    .ideas-graph ul li{
        margin-left: 0;
    }
    .ideas-graph ul li.left-circle{
        left: 0;
    }
    .ideas-graph ul li.right-circle{
        right: 0;
        left: auto;
    }
    .ideas-graph ul li.idea-idea{
        top: 65px;
    }
    .ideas-graph ul li.idea-2d{
        top: 195px;
    }
    .ideas-graph ul li.idea-3d{
        top: 325px;
    }
    .ideas-graph ul li.idea-ok{
        top: 455px;
    }
    .ideas-graph ul li.idea-tool{
        top: 580px;
    }
}
@media (max-width: 385px){ /* width of longest heading */
    h2{
        font-size: 36px;
    }
    h3{
        font-size: 26px;
    }
}
@media (max-width: 240px){
    .grid-container{
        width: 100%
    }
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
